body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

h1, h2, h3, strong {
  color: #333;
}

.restaurants {
  list-style: none;
  margin: 0 auto;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
}

.restaurants li {
  margin: 0.8em 1.2em;
}

#map {
  margin: auto;
  width: 50%;
}

html {
  background: url("/static/sharon-chen-352895.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homepage-hero {
/*  background-image: url("/static/sharon-chen-352895.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*margin: auto;*/
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homepage-hero_inner {
  width: 100%;
  /*float: left;*/
  text-align: center;
  /*color: white;*/
  position: relative;
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
}

input[type="search"] {
  float: left;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0 20px;
  height: 45px;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 1rem;
}

.search-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  position: absolute;
  right: -40px;
  width: 40px;
  height: 45px;
  border: none;
  background: #232833;
  text-align: center;
  cursor: pointer;
  color: #4f5b66;
  font-size: 15pt;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}

.cards {
  max-width: 960px;
  margin: 0 auto 30px;
}

article {
  position: relative;
  max-width: 800px;
}

.article-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.content {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
}

article:hover .article-img {
  opacity: 0.5;
}

article:hover .content {
  opacity: 1;
}
