<!DOCTYPE html>
<html>
  <head>
    <title>phofacts</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <div class="homepage-hero">
      <div class="homepage-hero_inner">
        <h1>PhoFacts</h1>
        <form action="{{ url_for('search_restaurants') }}" method=post>
          <input type="text" name="query" id="query" placeholder="Enter a zipcode">
          <button id="search">Search</button>
        </form>
      </div>
    </div>
    <main>
      <section class="cards">
        <article>
          <img class="article-img" src="static/921290.jpeg">
        </article>
        <article>
          <img class="article-img" src="static/921291.jpeg">
        </article>
        <article>
          <img class="article-img" src="static/921292.jpeg">
        </article>
        <article>
          <img class="article-img" src="static/921293.jpeg">
        </article>
        <article>
          <img class="article-img" src="static/921294.jpeg">
        </article>
        <article>
          <img class="article-img" src="static/921295.jpeg">
        </article>
      </section>
    </main>
    {% block body %}{% endblock %}
  </body>
</html