<!DOCTYPE html>
<html>
  <head>
    <title>phofacts</title>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}""></script>
  </head>
  <body>
    <h1>Pho Restaurants</h1>
    <input type="text" id="query" placeholder="Enter a zipcode">
    <button id="search">Search</button>
    <!-- <p><a href="" id="url" target="blank">Click for result</a></p> -->
    <!-- <div id="image"></div> -->
    <div id="map"></div>

    <!-- Passing the map variable from hello.py to the img src attribute -->
<!--     <iframe
      width="450"
      height="250"
      frameborder="0" style="border:0"
      src="{{ map }}" allowfullscreen>
    </iframe>
 -->  </body>
</html