{% extends "index.html" %}
{% block body %}
<div id="map">
  <iframe height="250" frameborder="0" style="border:0;" src="{{ map_req }}" allowfullscreen></iframe>
</div>
<main>
  <section class="cards">
    {% for restaurant in restaurants %}
    <article id="{{ restaurant.id }}">
      <img class="article-img" src="{{ restaurant.image_url }}">
      <!-- <div class="middle"> -->
      <span class="content">{{ restaurant.name }}</span>
      <!-- </div> -->
    </article>
    {% endfor %}
  </section>
</main>
{% endblock %}